*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("https://i.pinimg.com/originals/a6/ea/76/a6ea764a029dff91b158e7cae9d791bb.jpg");
    background-size: cover;
}
.container{
    position: absolute;
    left: 32rem;
    top: 10rem;
    border: 2px solid skyblue;
    height: 383px;
    width: 394px;
    box-shadow: 2px 2px rgba(122, 153, 221, 0.829);

}
.btn{
    width: 5.3rem;
    height: 4rem;
    margin: 5px;
    outline: none;
    font-size: 2rem;
    font-weight: 100;
    border: 1px solid greenyellow;
    border-radius: 50%;
    background-color: #AFFF33;
    outline: none;
}
.btn:hover{
    cursor: pointer;
    background-color: skyblue;
    border-radius: 50%;
    outline: none;
}
.result{
    width: 17rem;
    height: 4rem;
    margin: 5px;
    outline: none;
    font-size: 2rem;
    font-weight: 100;
    padding-left: 5px;
    border: 1px solid skyblue;
    border-radius: 25px;
    padding-left: 10px;
}
@media only screen and (max-width: 768px){
.container{
    position: absolute;
    left: -2px;
    top: 2rem;
    }
    body{
        background-repeat: no-repeat;
        background-size: auto;
    }
}